/* resets -help to reset the dafault */
/* rem, em, vw, vh --% - (relative units) */
html{

}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
.header{
    background-color: navy;
}
.header-nav{
    /* background-color: brown; */
    display: flex;
    justify-content: start;
    align-items: center;
}
.header-nav_container{
    /* background-color: crimson; */
}
.icon-style{
    color: yellow;
}
.header-nav_container__logo{
    background-color: yellow !important;
    width: 20vw;

}
.header-nav_container__list{
    display: none;
}